<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8"/>
        <title>Lorem ipsum dolor</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="{{ url_for('static', filename='js/main.js')}}"></script>
	{{ js_resources | safe}}
	{{ css_resources | safe}}
	
    </head>
<body>
	
	<h1>Lorem ipsum dolor</h1>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum ut tristique et egestas. Mauris vitae ultricies leo integer malesuada nunc. Morbi tristique senectus et netus et malesuada fames ac. Vitae tortor condimentum lacinia quis vel eros. Eget nunc lobortis mattis aliquam. Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in. Ornare lectus sit amet est placerat in egestas erat. Arcu felis bibendum ut tristique. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. Placerat vestibulum lectus mauris ultrices. Arcu non sodales neque sodales ut etiam sit amet nisl. Neque convallis a cras semper auctor neque vitae. Augue eget arcu dictum varius. Penatibus et magnis dis parturient montes nascetur. Porta lorem mollis aliquam ut. Porttitor rhoncus dolor purus non.</p>

	<p>Aliquam purus sit amet luctus venenatis. Ultrices tincidunt arcu non sodales neque sodales. Vestibulum sed arcu non odio euismod lacinia at quis risus. Diam ut venenatis tellus in metus vulputate. Fames ac turpis egestas sed tempus urna et pharetra. Diam vel quam elementum pulvinar etiam non. Nisl nisi scelerisque eu ultrices vitae auctor eu. Et egestas quis ipsum suspendisse. Cursus mattis molestie a iaculis. Dictum non consectetur a erat. In metus vulputate eu scelerisque felis imperdiet proin fermentum. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque sit. Etiam non quam lacus suspendisse. Ac odio tempor orci dapibus ultrices in. Posuere ac ut consequat semper viverra nam libero justo laoreet. Morbi tincidunt ornare massa eget egestas purus viverra accumsan. Leo duis ut diam quam nulla porttitor massa id. In massa tempor nec feugiat nisl pretium. Tristique sollicitudin nibh sit amet commodo nulla.</p>

	
    {{ script | safe }}
	{{ div | safe }}
	
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra maecenas accumsan lacus vel facilisis volutpat. At varius vel pharetra vel turpis nunc. Tellus mauris a diam maecenas sed. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Blandit cursus risus at ultrices. Ut porttitor leo a diam sollicitudin tempor id eu. Amet dictum sit amet justo donec enim. Ornare aenean euismod elementum nisi quis. Euismod in pellentesque massa placerat duis ultricies lacus sed turpis. Enim diam vulputate ut pharetra sit amet aliquam id diam. Quisque id diam vel quam elementum. Non enim praesent elementum facilisis leo vel fringilla est ullamcorper. Convallis a cras semper auctor neque vitae tempus quam pellentesque. Orci dapibus ultrices in iaculis nunc sed augue lacus viverra.</p>

	<p>Commodo elit at imperdiet dui accumsan sit amet. In dictum non consectetur a erat nam at. Morbi quis commodo odio aenean sed adipiscing diam. Lobortis feugiat vivamus at augue eget arcu dictum varius. Faucibus purus in massa tempor nec feugiat. Nullam vehicula ipsum a arcu cursus vitae congue. Nulla pharetra diam sit amet nisl. Lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Quis ipsum suspendisse ultrices gravida dictum. Mauris cursus mattis molestie a iaculis at. Sem integer vitae justo eget. Egestas pretium aenean pharetra magna. Lacus vel facilisis volutpat est velit. Adipiscing elit pellentesque habitant morbi tristique. Tristique sollicitudin nibh sit amet commodo nulla facilisi. Malesuada fames ac turpis egestas. Nulla facilisi morbi tempus iaculis urna id volutpat. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. Dignissim suspendisse in est ante in nibh mauris cursus.</p>
	  

	
</body>
</html>